plugins {
    id("org.jetbrains.kotlin.jvm") version "{{ kotlin_jvm_version }}" apply false
    id("org.jetbrains.kotlin.js") version "{{ kotlin_js_version }}" apply false
    id("org.jetbrains.kotlin.multiplatform") version "{{ kotlin_mp_version }}" apply false
    id("org.jetbrains.kotlin.plugin.serialization") version "{{ kotlin_serialization_version }}" apply false
    id("org.jetbrains.kotlin.plugin.compose") version "{{ kotlin_mp_version }}" apply false
    id("com.android.application") version "{{ android_gradle_version }}" apply false
    id("com.android.library") version "{{ android_gradle_version }}" apply false
    id("com.android.kotlin.multiplatform.library") version "{{ android_gradle_version }}" apply false
    id("org.jetbrains.compose") version "{{ compose_plugin_version }}" apply false
    id("com.gradleup.shadow") version "{{ shadow_version }}" apply false
    id("org.jetbrains.dokka") version "{{ dokka_version }}" apply false
    id("org.jetbrains.kotlinx.kover") version "{{ kover_version }}" apply false
    id("com.vanniktech.maven.publish") version "{{ maven_publish_plugin_version }}" apply false
}

{% if dependency_substitutions %}
subprojects {
    configurations.configureEach {
        resolutionStrategy.dependencySubstitution {
            {% for substitution in dependency_substitutions %}
            substitute(module("{{ substitution.module_coordinate }}")).using(project(":{{ substitution.gradle_project_name }}"))
            {% endfor %}
        }
    }
}
{% endif %}
