gradle.version=8.7
# Gradle JVM memory settings

org.gradle.jvmargs=-Xmx8G -Dfile.encoding=UTF-8
org.gradle.parallel=true
org.gradle.configuration-cache=true
org.gradle.caching=true

kotlin.code.style=official
kotlin.daemon.jvmargs=-Xmx8G

org.jetbrains.dokka.experimental.gradle.pluginMode=V2EnabledWithHelpers
