{% for included_build in included_builds %}
includeBuild("{{ included_build.build_path }}") {
    dependencySubstitution {
        {% for substitution in included_build.substitutions %}
        substitute(module("{{ substitution.module_coordinate }}")).using(project("{{ substitution.project_path }}"))
        {% endfor %}
    }
}

{% endfor %}
