rootProject.name = "one.wabbit"

dependencyResolutionManagement {
    repositories {
        mavenCentral()
        maven("https://repo.papermc.io/repository/maven-public/")
    }
}

pluginManagement {
    repositories {
        gradlePluginPortal()
        maven("https://repo.papermc.io/repository/maven-public/")
    }
}

{% for subproject in subprojects -%}
include(":{{ subproject }}")
{% endfor -%}
