{% if 'kotlin' in features %}
import org.jetbrains.kotlin.gradle.dsl.JvmTarget
import org.jetbrains.kotlin.gradle.tasks.KotlinCompile
{% endif %}

repositories {
    mavenCentral()
    {% for repo in repositories %}
    maven("{{ repo.url }}")
    {%- endfor %}
    {% if mode == 'prod' %}
    maven("https://jitpack.io")
    {%- elif mode == 'dev' %}
    mavenLocal()
    {%- endif %}
}

group   = "{{ project_group }}"
version = "{{ project_version }}"

plugins {
    {% if 'shadow-jar' in features %}id("com.gradleup.shadow"){% endif %}
    {% if 'jvm-kotlin-application' in features %}application{% endif %}
    {% if 'kotlin' in features %}
    kotlin("jvm")
    id("org.jetbrains.dokka")
    id("org.jetbrains.kotlinx.kover")
    {% endif %}
    {% if 'scala' in features %}scala{% endif %}
    {% if 'kotlin-serialization' in features %}kotlin("plugin.serialization"){% endif %}
    {% if 'paper-plugin' in features %}
    id("io.papermc.paperweight.userdev")
    id("net.minecrell.plugin-yml.bukkit")
    {% endif %}

    {% if 'intellij-plugin' in features %}
    id("org.jetbrains.intellij")
    {% endif %}

    id("maven-publish")
}

publishing {
    publications {
        create<MavenPublication>("maven") {
            groupId = "{{ project_group }}"
            artifactId = "{{ project_name }}"
            version = "{{ project_version }}"
            from(components["java"])
        }
    }
}

dependencies {
    {% for lib in project_dependencies %}
    {{ lib }}
    {%- endfor %}

    {% if 'paper-plugin' in features -%}
        paperweight.paperDevBundle("1.21.1-R0.1-SNAPSHOT")
    {%- endif %}
    {% if 'kotlin' in features -%}
        testImplementation(kotlin("test"))
    {%- endif %}
    {% if 'scala' in features -%}
    implementation("org.scala-lang:scala3-library_3:3.6.4")

    testImplementation("org.scalatest:scalatest_2.13:3.2.19")
    testRuntimeOnly("org.junit.platform:junit-platform-engine:1.10.0")
    testRuntimeOnly("org.junit.platform:junit-platform-launcher:1.10.0")
    testRuntimeOnly("org.scalatestplus:junit-5-10_2.13:3.2.19.0")
    {%- endif %}
    {% if 'kotlin-serialization' in features -%}
        implementation("{{ serialization_library }}")
    {%- endif %}

    {% for lib in other_dependencies %}
    {{ lib }}
    {%- endfor %}
}

java {
    targetCompatibility = JavaVersion.toVersion({{ java_version }})
    sourceCompatibility = JavaVersion.toVersion({{ java_version }})
}

tasks {
    withType<Test> {
        jvmArgs("-ea")
        {% if 'scala' in features %}
        useJUnitPlatform {
            includeEngines("scalatest")
            testLogging {
                events("passed", "skipped", "failed")
            }
        }
        {% endif %}
    }
    withType<JavaCompile> {
        options.encoding = Charsets.UTF_8.name()
    }
    withType<Javadoc> {
        options.encoding = Charsets.UTF_8.name()
    }
    {% if 'kotlin' in features %}
    withType<KotlinCompile> {
        compilerOptions {
            jvmTarget.set(JvmTarget.{{ kotlin_jvm_target }})
            {% for compiler_arg in kotlin_free_compiler_args %}
            freeCompilerArgs.add("{{ compiler_arg }}")
            {% endfor %}
        }
    }
    {% endif %}

    {% if 'paper-plugin' in features %}
    reobfJar {
        jvmArgs.set(listOf("-Xmx4G"))
    }
    build {
        dependsOn(reobfJar)
    }
    jar {
        manifest {
            attributes["Add-Opens"] = "java.base/java.util java.base/java.io java.base/java.nio java.base/java.lang java.base/java.lang.invoke java.base/sun.security.util java.base/sun.security.action"
        }
    }
    {% endif %}

    jar {
        setProperty("zip64", true)
        {% if 'jvm-kotlin-agent' in features %}
        manifest {
            attributes(
                "Premain-Class" to "{{ features['jvm-kotlin-agent'].main }}",
                "Can-Redefine-Classes" to "true",
                "Can-Retransform-Classes" to "true",
                "Implementation-Version" to "${project.version}"
            )
        }
        {% endif %}
    }

    {% if 'jvm-kotlin-application' in features %}
    application {
        mainClass.set("{{ features['jvm-kotlin-application'].main }}")
    }
    {% endif %}

    {% if 'shadow-jar' in features %}
    {% if 'jvm-kotlin-application' in features %}
    startShadowScripts {
        dependsOn(jar)
    }
    {% endif %}
    shadowJar {
        {% if features['shadow-jar'].jarName %}
        archiveFileName.set("{{ features['shadow-jar'].jarName }}")
        {% endif %}

        setProperty("zip64", true)

        // from(rootProject.projectDir.resolve("LICENSE"))
        // listOf(
        //     "org.slf4j"
        // ).forEach { relocate(it, "cc.shaded.$it") }
    }
    {% endif %}

    {% if 'intellij-plugin' in features %}
    patchPluginXml {
        sinceBuild.set("{{ features['intellij-plugin'].sinceBuild or '232' }}")
        {% if features['intellij-plugin'].untilBuild %}
        untilBuild.set("{{ features['intellij-plugin'].untilBuild }}")
        {% endif %}
    }
    publishPlugin {
        token.set(
            providers.environmentVariable("{{ features['intellij-plugin'].marketplaceTokenEnv or 'JETBRAINS_MARKETPLACE_TOKEN' }}")
        )
        channels.set(listOf("{{ features['intellij-plugin'].publishChannel or 'default' }}"))
    }
    {% endif %}
}

{% if 'intellij-plugin' in features %}
intellij {
    version.set("{{ features['intellij-plugin'].ideaVersion or '2023.2' }}")
    plugins.set(
        listOf(
            {%- if features['intellij-plugin'].bundledPlugins %}
            {%- for plugin in features['intellij-plugin'].bundledPlugins %}
            "{{ plugin }}"{% if not loop.last %}, {% endif %}
            {%- endfor %}
            {%- else %}
            "com.intellij.java"
            {%- endif %}
        )
    )
}
{% endif %}

{% if 'paper-plugin' in features %}
bukkit {
    main = "{{ features['paper-plugin'].main }}"
    name = "{{ features['paper-plugin'].name }}"
    apiVersion = "{{ features['paper-plugin'].apiVersion }}"
    depend = listOf()
}
{% endif %}

{% if 'kotlin' in features %}
// Kover Configuration
kover {
    // useJacoco() // This is the default, can be specified if you want to be explicit
    // reports {
    //     // Configure reports for the default test task.
    //     // Kover tries to infer the variant for simple JVM projects.
    //     // If you have specific build types/flavors, you'd configure them here as variants.
    //     variant() { // Or remove "debug" for a default JVM setup unless you have variants
    //         html {
    //             // reportDir.set(layout.buildDirectory.dir("reports/kover/html")) // Uncomment to customize output
    //             // title.set("{{ project_name }} Code Coverage") // Uncomment to customize title
    //         }
    //         xml {
    //             // reportFile.set(layout.buildDirectory.file("reports/kover/coverage.xml")) // Uncomment to customize output
    //         }
    //     }
    // }
}

dokka {
    moduleName.set("{{ project_name }}")
    dokkaPublications.html {
        suppressInheritedMembers.set(true)
        failOnWarning.set(true)
    }
    dokkaSourceSets.main {
        // includes.from("README.md")
        sourceLink {
            localDirectory.set(file("src/main/kotlin"))
            remoteUrl("https://example.com/src")
            remoteLineSuffix.set("#L")
        }
    }
    pluginsConfiguration.html {
        // customStyleSheets.from("styles.css")
        // customAssets.from("logo.png")
        footerMessage.set("(c) Wabbit Consulting Corporation")
    }
}
{% endif %}
