rootProject.name = "{{ project_name }}"

dependencyResolutionManagement {
    repositories {
        mavenCentral()
        {% if 'paper-plugin' in features -%}
        maven("https://repo.papermc.io/repository/maven-public/")
        {% endif %}
    }
}

pluginManagement {
    repositories {
        gradlePluginPortal()
        {% if 'paper-plugin' in features -%}
        maven("https://repo.papermc.io/repository/maven-public/")
        {% endif %}
    }
}
