# Python .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs/
*.manifest
*.spec
*.log
*.pot
*.mo
*.cache
*.coverage
.coverage.*
.cache/
.pytest_cache/
.tox/
.nox/
*.env
.env/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt