{
  "include": {{ include_json }},
  "exclude": {{ exclude_json }},
  "venvPath": ".",
  "venv": ".venv",
  "pythonVersion": "{{ python_version }}",
  "typeCheckingMode": "strict",
  "reportMissingTypeStubs": "none",
  "reportMissingImports": "error",
  "reportUndefinedVariable": "error",
  "reportUnboundVariable": "error",
  "reportImportCycles": "error"
}
